.navbar-brand img {
	height: 50px;
}

.navbar {
	background-color: #91A9B6;
}

.title-block {
	text-align: center;
	margin-top: 20px;
}

.tool {
    padding: 6px;
    text-decoration: none;
}
.tool:hover {
    text-decoration: none;
}

.toolbar {
    text-align: center;
    width: 100%;
}

.card-body {
	padding: .5rem;
}

.card {
	min-width: 300px;
	margin-bottom: 2rem !important;
}

.card-title {
	margin-bottom: 5px;
	font-size: 14px;
}

.card-header {
	min-height: 7rem;
}

.card-header p {
	margin-bottom: 5px;
}

.img-thumbnail {
	border: none;
}

.badge {
	color: white;
}

td.content {
	display: block;
	max-height: 15rem;
	overflow: auto;
}

.preview {
	width: 80%;
}
