-i https://pypi.python.org/simple
alabaster==0.7.12
apipkg==2.1.0
atomicwrites==1.4.0
attrs==21.4.0
babel==2.9.1
brotli==1.0.9
certifi==2021.10.8
chardet==4.0.0
coverage==6.2
coveralls==3.3.1
dateparser==1.1.0
django-bootstrap4==21.2
django-bootstrap-pagination==1.7.1
django-cors-headers==3.11.0
django-crispy-forms==1.13.0
django-extensions==3.1.5
django-filter==21.1
django-messages-to-bootstrap-notify==0.2.6
django-otp==1.1.3
django-select2==7.9.0
django-sortable-listview==0.43
django-two-factor-auth==1.13.1
django==3.2.14
djangoql==0.17.0
djangorestframework==3.13.1
docopt==0.6.2
# sphinx requires docutils < 0.18
docutils==0.17.1
execnet==1.9.0
factory-boy==3.2.1
faker==11.3.0
filelock==3.4.2
filemagic==1.6
fuzzywuzzy[speedup]==0.18.0
gunicorn==20.1.0
idna==3.3
imagesize==1.3.0
importlib-metadata==4.10.0
inotify-simple==1.1.8; sys_platform == 'linux'
jinja2==3.0.3
langdetect==1.0.9
markupsafe==2.0.1
more-itertools==8.12.0
packaging==21.3
pdftotext==2.2.2
phonenumberslite==8.12.41
Pillow==9.0.0
pluggy==1.0.0
ply==3.11
psycopg2-binary==2.9.3
py==1.11.0
pycodestyle==2.8.0
pygments==2.11.2
pyocr==0.8.1
pyparsing==3.0.6
pytest-cov==3.0.0
pytest-django==4.5.2
pytest-env==0.6.2
pytest-forked==1.4.0
pytest-sugar==0.9.4
pytest-xdist==2.5.0
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.19.2
python-gnupg==0.4.8
python-levenshtein==0.12.2
pytz==2021.3
regex==2021.11.10
requests==2.27.1
six==1.16.0
snowballstemmer==2.2.0
sphinx==4.3.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
termcolor==1.1.0
text-unidecode==1.3
toml==0.10.2
tox==3.24.5
tzlocal==4.1
urllib3==1.26.8
virtualenv==20.13.0
wcwidth==0.2.5
zipp==3.7.0
