{% extends 'base.html' %}
{% load i18n static bootstrap4 %}

{% block title %}{% trans 'Document' %} {{ document.title }}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">

					  <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>{% trans 'Title' %}</th>
                        <td>{{ document.title }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Content' %}</th>
                        <td class="content">{{ document.content|linebreaks }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Correspondent' %}</th>
                        <td>{{ document.correspondent }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Tags' %}</th>
                        <td>
                            {% for tag in document.tags.all %}
                            <span class="badge" style="background-color: {{ tag.get_colour_display }};">{{ tag }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans 'Created' %}</th>
                        <td>{{ document.created }}</td>
                    </tr>
										<tr>
                        <th>{% trans 'Added' %}</th>
                        <td>{{ document.added }}</td>
                    </tr>
										<tr>
                        <th>{% trans 'File type' %}</th>
                        <td>{{ document.file_type }}</td>
                    </tr>
										<tr>
                        <th>{% trans 'Storage type' %}</th>
                        <td>{{ document.get_storage_type_display }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

		<a class="float-right" href="{% url 'documents:update' document.id %}" title="{% trans 'edit metadata' %}">
				<button class="btn btn-secondary">
						<i class="fal fa-pen"></i>
				</button>
		</a>

		<div class="row">
				<div class="col-12">
						<h4 class="text-center">{% trans 'Preview' %}</h4>
						<img class="preview mx-auto d-block" src="/fetch/preview/{{ document.id }}" alt="{{ document.name }}">
				</div>
		</div>

</div>
{% endblock %}
