{% extends 'base.html' %}
{% load i18n static bootstrap4 hacks bootstrap_pagination %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" type="text/css" media="all" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block bootstrap4_extra_script %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/i18n/de.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#id_correspondent').select2({ width: '100%' });
	$('#id_tags').select2({ width: '100%' });
	var options = {
		'locale': 'de',
		'format': 'DD.MM.YYYY'
	};
	$('#id_created_0').datetimepicker(options);
	$('#id_created_1').datetimepicker(options);
	$('#id_added_0').datetimepicker(options);
	$('#id_added_1').datetimepicker(options);

	$('#filter').click(function() {
      $('#filterModal').modal();
	});

});
</script>
{% endblock %}

{% block title %}
		{% trans 'Documents' %}
		<span class="badge badge-secondary">{{ page_obj.paginator.count }}</span>
{% endblock %}

{% block content %}
<!-- The Modals -->
<div class="modal fade" id="filterModal">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{% trans 'Filter' %}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form action="" method="get" id="filterForm">
							  {% csrf_token %}
							  {% bootstrap_field filter.form.correspondent %}
							  {% bootstrap_field filter.form.tags %}
								{% bootstrap_field filter.form.created %}
								{% bootstrap_field filter.form.added %}
								{% bootstrap_button "<i class='far fa-filter'></i>" button_type="submit" button_class="btn-primary" %}
            </form>
        </div>

        </div>
    </div>
</div>

<div class="row toolbar-container">
    <div class="col-12 text-center toolbar">
        <span class="filter-label">{% trans 'Filter' %}: </span>
        <button class="btn btn-sm btn-secondary" id="filter" title="{% trans 'Filter' %}">
                <i class="far fa-filter"></i>
        </button>
        <a href="{% url 'documents:list' %}" class="btn btn-sm btn-secondary" title="{% trans 'Remove filter' %}">
                <i class="far fa-times"></i>
        </a>
        <span class="sortable-label">{% trans 'Order' %}: </span>
        {% for sort_link in sort_link_list %}
            <span class="sort-link {{ sort_link.attrs }}">
                    {% get_sort_link_params sort_link.attrs sort_link.indicator as sort_param %}
                    <a class="btn btn-secondary btn-small btn-sm" href="?{% param_replace sort=sort_param %}">
                        <span class="{{ sort_link.indicator }}">
                                {{ sort_link.title }}
                                {% if sort_link.indicator == 'sort-asc' %}▲{% endif %}
                                {% if sort_link.indicator == 'sort-desc' %}▼{% endif %}
                        </span>
                    </a>
        </span>
        {% endfor %}
    </div>
		<div class="col-12 toolbar">
			  {% if is_paginated %}
				{% bootstrap_paginate page_obj range=10 size="small" previous_label='<i class="far fa-arrow-alt-left"></i>' next_label='<i class="far fa-arrow-alt-right"></i>' extra_pagination_classes="justify-content-center" %}
				{% endif %}
		</div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <div class="row popup-gallery justify-content-center">
                <div class="card-deck">
                    {% for doc in page_obj %}
                    <div class="card text-center" id="{{ event.id }}">
                        <div class="card-header">
                            <h6 class="card-title">
                                {{ doc.title }}
                                <span class="badge badge-secondary">{{ visibles.count }}</span>
                            </h6>
                                <p class="small">
                                    <a href="?{% param_replace correspondent=doc.correspondent.id page='' %}">
                                        {{ doc.correspondent|default_if_none:"-" }}
                                    </a>
                                    /
                                    <a href="?{% param_replace created_after=doc.created|date:'SHORT_DATE_FORMAT' page='' %}">
                                        {{ doc.created|date:"SHORT_DATETIME_FORMAT" }}
                                    </a>
                                </p>
                                <div class="tags">
                                    {% for tag in doc.tags.all %}
                                        <a href="?{% param_replace tags=tag.id page='' %}"><span class="badge" style="background-color: {{ tag.get_colour_display }};">{{ tag }}</span></a>
                                    {% endfor %}
                                </div>
                        </div>
                        <div class="card-body">
														<a href="{% url 'documents:detail' doc.id %}">
                            	  <img class="img-thumbnail" src="/fetch/thumb/{{ doc.id }}" alt="{{ doc.name }}">
														</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}
