{% extends 'bootstrap4/bootstrap4.html' %}
{% load i18n bootstrap4 static dm2bn_tags %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<link defer src="{% static 'fontawesome/css/all.min.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'paperless/img/favicon.ico' %}"/>
<link rel="stylesheet" href="{% static 'documents/css/frontend.css' %}">
{% endblock %}

{% block bootstrap4_extra_script %}
{{ block.super }}
<script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
{% dm2bn_settings %}
<script type="text/javascript" src="/static/dm2bn/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="/static/dm2bn/vendor/striptags/striptags.js"></script>
<script type="text/javascript" src="/static/dm2bn/vendor/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="/static/dm2bn/vendor/bootstrap-notify-simple-wrapper/bootstrap-notify-simple-wrapper.min.js"></script>
<script type="text/javascript">
    $(function () {
        // show messages
        $.showMessages({{ messages|messages2json }});
    });
</script>
{% endblock %}

{% block bootstrap4_title %}Paperless{% endblock %}

{% block bootstrap4_content %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'documents:list' %}">
				<img src="{% static 'paperless/img/logo-light.png' %}" alt="Paperless">
		</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" href="">
                    <i class="far fa-user"></i>
                    {% if user.get_full_name %}
                    <span>{{ user.get_full_name }}</span>
                    {% else %}
                    <span>{{ user.username }}</span>
                    {% endif %}
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
										<form method="post" action="{% url 'logout' %}">
    									{% csrf_token %}
											<button class="btn-link dropdown-item" type="submit">
													<i class="far fa-sign-out"></i>
													{% trans 'Log out' %}
											</button>
										</form>
                    <a class="dropdown-item" href="{% url 'settings:edit' %}">
                        <i class="far fa-cog"></i>
                        {% trans 'settings' %}
                    </a>
                    <a class="dropdown-item" href="{% url 'password_change' %}">
                        <i class="far fa-key"></i>
                        {% trans 'Password change' %}
                    </a>
										<a class="dropdown-item" href="{% url 'two_factor:profile' %}">
                        <i class="far fa-user-lock"></i>
                        {% trans 'Two factor authentication' %}
                    </a>
                    {% if user.is_superuser %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'admin:index' %}">
                        {% trans 'Admin' %}
                    </a>
                    {% endif %}
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div id="container" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="title-block">{% block title %}{% endblock %}</h3>

            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}
